<!DOCTYPE html>
<html>
<head>
 <title>{{{title}}}</title>
</head>
<body>

<h1>Une tache a bien été ajoutée ! Elle a l'id : <span style="color:green">{{{id}}}</span></h1>


<a href="todos/{{{id}}}">See todo</a>
<br>


<br>
<br>


</body>
</html>