<!DOCTYPE html>
<html>
<head>
 <title>{{{title}}}</title>
</head>
<body>

<h1>Suppression d'une tâche</h1>
 <div class="container">
    <p>
        La todo a bien été supprimée avec succès !
    </p>
 </div>
</body>
</html>