<!DOCTYPE html>
<html>
<head>
 <title>{{{title}}}</title>
</head>
<body>

<h1>La tâche avec l'id {{{id}}} a bien été modifiée !</h1>

 
 <div class="container">
    <b><p class="center"> Le nom de l</b>
        <span style="color:blue">{{{name}}}</span>
    </p>
 </div>
 <div class="container">
    <b><p class="center"> Avancée de la tâche :</b>
       <span style="color:red">{{{completion}}}</span> 
    </p>
 </div>
</body>
</html>